*{
    padding:0;
    margin:0;
}

.portofolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

.travelist{
    background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('/public/Travelist/loginPage.png');
    color: var(--creamSecondary);
    width: 100%;
    padding: 40px 0;
    font-size: 35px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.laforant{
    background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('/public/Laforant/agentPage.png');
    color: var(--creamSecondary);
    width: 100%;
    padding: 40px 0;
    font-size: 35px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}


.containerContent{
    background-color: var(--blueSecondary);
    color: var(--creamSecondary);
    padding: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portofolioDescription{
    display: flex;
    justify-content: center;
    font-size: 30px;;
}

.portofolioContent{
    display: flex;
    text-align: center;
    padding: 40px 40px;
}

.portofolioImageStructure{
    display: flex;
    justify-content: center;
}

.portofolioImageStructure img{
    padding: 10px;
    width: 40%;
}