*{
    padding: 0;
    margin: 0;
}

.footer{
    font-size: 20px;
    color: var(--blueSecondary);
    background-color: var(--creamPrimary);
    padding: 10px 0;
}

.footerContainer{
    max-width: 1300px;
    padding: 0 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name{
    font-size: 50px;
}

.socialMedia a{
    cursor: pointer;
    padding: 0 10px;
}

.socialMedia a img{
    width: 40px;
}

@media screen and (max-width: 650px){
    .footerContainer{
        flex-direction: column;
        align-items: center;
    }

    .name{
        font-size: 30px;
    }

    .footerContainer *{
        padding: 15px 0;
    }
}