*{
    margin: 0;
    padding: 0;
}

.navigation{
    background-color: var(--bluePrimary);
    color: var(--creamPrimary);
    position: fixed;
    width: 100%;
}

.navigationContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    height: 70px;
}

.navigationLeft{
    display: flex;
    flex-direction: row;
    
}

.navigationLogo{
    font-size: 40px;
    cursor: pointer;
    padding: 10px;
}

.navigationButton{
    font-size: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
}

.navigationButton:hover{
    background-color: var(--creamPrimary);
    color: var(--bluePrimary);
}
